@font-face {
  font-family: "PT Sans Bold";
  src: url(../fonts/ptsansbold.woff);
}

@font-face {
  font-family: "PT Sans Regular";
  src: url(../fonts/ptsans.woff);
}

body {
  min-width: 1280px;
  min-height: 1900px;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

body {
 /* background: url(../img/sedona-index-1200.jpg) no-repeat 50% 0; */
  background-size: 1280px auto;
}

header {

}

.main-container {
  /* Только для оформления сетки */
  width: 1200px;
  margin: 0 auto;
  /* background-color: rgba(128,128,0,0.5); */
}

main.main-container {

  position: relative;
  top: -20px;
  z-index: 1;
}

.main-navigation {
  width: 1128px;
  margin: 0 auto;
/*  background-color: rgba(0,128,0,0.5); */

}

.nav-left, .nav-right {
  background-color: rgba(0,128,128,0.5);
  min-height: 70px;
  width: 400px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  }

.nav-left {
  float: left;
  margin: 0;
  padding: 0;
}

.nav-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  width: 138px;
  margin: 0 auto;
  z-index: 2;
  position: relative;

}

.banner-wrapper {
  /*background-color: rgba(0,128,128,0.5); */
  min-height: 510px;
  border: 1px solid rgba(0,0,0,0);
  background: url(../img/banner-mask.png) no-repeat 0 bottom, url(../img/banner-photo_2.jpg) no-repeat;
  margin: 0 auto;
  width: 100%;
}

.banner-description-container {
  width: 458px;
  height: 352px;
  margin: 0 auto;
  margin-top: 77px;
}

.advantages-container {
  background-color: rgba(228,0,128,0.2);
  min-height: 1280px;
  border: 1px solid black;
}

.advantages-title-wrapper {

  width: 576px;
  height: 94px;
  margin: 0 auto;
  margin-top: 58px;
}

.advantages-title {
  background-color: rgba(228,0,128,0.2);
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

  .advantage .advantages-title {
    color: #ffffff;
    width: 152px;
    margin-top: 54px;
  }



.advantages-description {
  background-color: rgba(228,0,128,0.2);
  font-family: "PT Sans Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  width: 100%;
  margin: 0 auto;
  margin-top: 28px;

}

.advantage .advantages-description {
  color: #ffffff;
  width: 306px;
  margin-top: 20px;
}


.advantages-wrapper {
  background-color: rgba(228,0,128,0.2);
  width: 100%;
  height: 255px;
  margin: 0 auto;
  border: 1px solid rgba(255,0,0,0);

}

.advantages-wrapper.first {
  background: url("../img/town.jpg") no-repeat right 0;
  margin-top: 62px;

}

.advantages-wrapper.second{
  background: url("../img/bridge.png") no-repeat left 0;
  margin-top: 0px;
}


.advantage {
  background-color: #81b3d2;
  width: 400px;
  height: 255px;
  border: 1px solid rgba(255,0,0,0);
}

.advantage.second {
  /*margin-left: 800px; */
  position: absolute;
  right: 0;
}


.advantage-extention-wrapper {
    height: 330px;
}

.advantage-extention {
  width: 399px;
  float: left;
  background-color: rgba(150,150,0,0.8);
  margin-top: 60px;
}

.advantage-extention:last-child {
  float: right;
}

.advantage-extention-image {
  width: 80px;
  height: 76px;
  margin: 0 auto;

}

.advantages-title.extention {
  width: 140px;
  margin-top: 28px;
}

.advantages-description.extention {
  width: 290px;
  margin-top: 28px;
}

.advantages-wrapper.third {
  height: 255px;
  border: 1px solid gold;
  background-color: #eeeeee;
  margin-bottom: 0;
}

.advantage.third {
  width: 397px;
  height: 225px;
  float: left;
  color: black;
  background-color: #eeeeee;
}

.advantage:last-child.third {
  float: right;
}

.find-hotels-container {
  width: 1200px;
  height: 767px;
  border: 1px solid blue;
}

.hotels-title {
  width: 400px;
  font-size: 30px;
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}

.hotels-title-description {
  width: 500px;
  font-size: 14px;
  line-height: 23px;
  font-family: "PT Sans Regular", Arial, sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  margin-top: 22px;
}

.find-hotel-form-wrapper {
  width: 574px;
  height: 483px;
  margin: 0 auto;
  margin-top: 47px;

}

.find-hotel-form-title {
  width: 100%;
  height: 86px;
  font-size: 21px;
  line-height: 90px;
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-weight: 700;
  color: white;
  background-color: #766357;
  text-align: center;
  margin: center auto;
}

.find-hotel-form-container {
  width: 460px;
  height: 285px;
  margin: 56px auto;
  background-color: rgba(255,200,255,0.2);
}

.find-hotel-form-row {
  width: 460px;
  height: 38px;
  background-color: rgba(100,200,255,0.2);
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 38px;
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-weight: 700;
  border: 1px solid blue;
}

.find-hotel-form-container form label {
  display: inline-block;
  width: 94px;
  height: 38px;
  padding: 0;
  margin: 0;
  background: red;
}

.find-hotel-form-container form input {
  display: inline-block;
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: black;
  width: 170px;
  height: 38px;
  margin-left: 16px;
  padding-left: 14px;
}

.find-hotel-form-container form .find-hotel-form-half-col input {
  display: inline-block;
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: black;
  width: 104px;
  height: 38px;
  padding-left: 14px;

}

.find-hotel-form-half-col {
  display: inline-block;
  background-color: gold;
  width: 228px;

}











/*======================================
 Системное оформление - не изменять
=======================================*/
/*
body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  content: "";
  position: absolute;

  height: 24px;
  padding: 2px 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: "Courier New", monotype;
  white-space: nowrap;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}

.main-header::before {
  content: ".main-header";
}

.container::before {
  content: ".container";
}

.main-header .container::before {
  top: auto;
  bottom: -28px;
}

.main-navigation::before {
  content: ".main-navigation";
}

.user-block::before {
  content: ".user-block";
}

.index-logo::before {
  content: ".index-logo";
}



*/













