@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsansbold.woff);
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans.woff);
}

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  text-transform: uppercase;
  /*background: url(../img/sedona-index-1200.jpg) no-repeat 50% 0;  */
  background-size: 1280px auto;
}

.main-header {
  width: 1200px;
  height: 55px;
  outline: 2px solid red;
 }

.main-container {
  /* Только для оформления сетки */
  width: 1200px;
  margin: 0 auto;
  background-color: rgba(200,200,200,0.7) ;
  outline: 2px solid red;
}

.center {
  width: 1056px;
  margin: 0 auto;
  outline: 2px solid black;
}

.nav-left, .nav-right {
  background-color: rgba(0,128,128,0.5);
  width: 400px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
  text-align: right;
}

.nav-left a, .nav-right a {
  display: block;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  padding: 14px 0;
}

.nav-left li, .nav-right li {
  display: inline-block;
  vertical-align: top;
}

.nav-left li:first-child {
  padding-right: 150px;
}

.nav-right li:first-child {
  padding-right: 160px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  width: 138px;
  z-index: 2;
  position: absolute;
  left: 50%;
  margin-left: -69px;
  top: 0;
}

.banner-wrapper {
  /*background-color: rgba(0,128,128,0.5); */
  height: 510px;
  outline: 1px solid rgba(0,0,0,1);
  background: url(../img/banner-mask.png) no-repeat 0 bottom, url(../img/banner-photo.jpg) no-repeat;
  margin: 0 auto;
  width: 100%;
}

.advantages-container {
  width: 1200px;
}

.advantages-title-wrapper {
  width: 576px;
  margin: 0 auto;
  margin-top: 58px;
}

.advantages-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.advantages-description {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  margin: 0 auto;
  margin-top: 30px;
}

.advantages-wrapper {

}

.advantages-wrapper.first {
  margin-top: 55px;
  background: url("../img/town.jpg") no-repeat right 0;

}

.advantage {
  background-color: #81b3d2;
  width: 400px;
  height: 255px;
  float: left;

}

.advantages-title.first {
  color: #ffffff;
  padding-left: 140px;
  padding-right: 140px;
  margin-top: 53px;
}

.advantages-description.first {
  color: #ffffff;
  margin: 0 auto;
  margin-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
}

.advantage-extention-wrapper {
    margin-top: 60px;
}

.advantage-extention {
  width: 400px;
  height: 270px;
  float: left;
}

.advantage-extention-image {
  height: 80px;
  width: 80px;
  text-align: center;
  background: black;
  margin: 0 auto;
}

.advantage-extention:nth-child(1) .advantage-extention-image {
  background:  url(../img/advantages-icon.png) no-repeat;
}

.advantage-extention:nth-child(2) .advantage-extention-image {
  background:  url(../img/advantages-icon.png) no-repeat -83px 0;
}

.advantage-extention:nth-child(3) .advantage-extention-image {
  background:  url(../img/advantages-icon.png) no-repeat -165px 0;
}
.advantages-title.extention {
  margin-top: 20px;
}

.advantages-description.extention  {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  margin-top: 20px;
  /*width: 290px;
  margin-top: 25px;  */
}


.advantages-wrapper.second{
  background: url("../img/bridge.png") no-repeat left 0;

}

.advantage.second {
  /*margin-left: 800px; */
  float: right;
}

.advantages-title.second  {
  margin: 0 auto;
  margin-top: 53px;
  padding-left: 125px;
  padding-right: 125px;
  text-align: center;
  color: white;
}

.advantages-description.second  {
  margin: 0 auto;
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  color: white;
}


.advantages-wrapper.third {
  margin-bottom: 0;
  height: 255px;
}

.advantage.third{
  background-color: #eeeeee;
}

.advantages-title.third  {
  margin: 0 auto;
  margin-top: 45px;
  padding-left: 125px;
  padding-right: 125px;
  text-align: center;
 }

.advantages-description.third  {
  margin: 0 auto;
  margin-top: 20px;
  padding-left: 70px;
  padding-right: 70px;
  text-align: center;
}



.find-hotels-container {
  width: 1200px;
  outline: 2px solid blue;
  background: url(../img/map.jpg) center bottom no-repeat;
  padding-bottom: 55px;

}

.hotels-title-wrapper {
  width: 576px;
  outline: 2px solid green;
  margin: 0 auto;
  margin-top: 0px;
  padding-top: 55px;

}

.hotels-title {
  font-size: 30px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;

}

.hotels-title-description {
  width: 500px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  margin-top: 35px;

}

.find-hotel-form-wrapper {
  width: 574px;
  margin: 0 auto;
  margin-top: 50px;
  background: white;
  outline: 4px solid black;
  padding-bottom: 55px;
}

.find-hotel-form-title {
  width: 100%;
  font-size: 21px;
  line-height: 90px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  color: white;
  background-color: #766357;
  text-align: center;
  margin: center auto;
}

.find-hotel-form-container {
  width: 460px;

  font-size: 14px;
  margin: 0 auto;
  padding-top: 50px;
  background-color: rgba(255,200,255,0.7);
  outline: 2px solid green;
}

.find-hotel-form-row {
  width: 460px;

  background-color: rgba(100,200,255,0.1);
  margin-bottom: 30px;

  line-height: 38px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  outline: 2px solid blue;
}

.find-hotel-form-row:last-child {
  margin-bottom: 0px;
}

.find-hotel-label {
  display: inline-block;
  width: 110px;
  background: pink;
}

.find-hotel-label.half {
  display: inline-block;
  padding-left: 50px;
  width: 60px;
}

.find-hotel-form-container form input {
  display: inline-block;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 14px;
}

.find-hotel-form-container form .find-hotel-form-half-col input {
  display: inline-block;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  width: 110px;
  margin: 0;
  padding: 0;
}

.find-hotel-form-half-col {
  display: inline-block;
  width: 228px;
}

.btn-find {
  width: 100%;
  background-color: #81b3d2;
  color: white;
  margin-top: 0px;
  font-size: 21px;
  line-height: 60px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  margin-top: 25px;
}

footer {
  outline: 3px solid blue;
  height: 120px;
}

.footer-label, .footer-social, .footer-copyright {
  width: 400px;
  text-align: center;
  line-height: 120px;
  float: left;
  }

.htmlacademy {
  display: inline-block;
  width: 112px;
  height: 40px;
  background: url(../img/htmlacademy.png) no-repeat;
  background-position: 0 0;
  vertical-align: middle;
  margin-left: 10px;
}

.footer-copyright {
  font-size: 14px;
  line-height: 120px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
}

/* Страница hotels.html  */

.select-hotel-wrapper {
  outline: 2px solid blue;
  background: url(../img/filter-background.jpg) no-repeat;
  height: 218px;
  font-family: "PT Sans", Arial, sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.select-hotel-left {
  outline: 2px solid red;
  width: 255px;
  height: 218px;
  float: left;

}

.select-hotel-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.select-hotel-right {
  outline: 3px solid blue;
  width: 328px;
  height: 218px;
  float: right;
}

.hotel-price-container {
  width: 318px;
  outline: 1px solid red;
  background: #999999;
  float: right;
}

.hotel-price-row {
  outline: 1px solid red;
  background: yellow;
  text-align: center;
}

.hotel-price {
  display: inline-block;
  outline: 1px solid red;
  background: green;
  width: 155px;
  text-align: center;
}

.price-range {
  width: 318px;
  height: 40px;
  background: pink;
}

.select-hotel-btn-wrapper {
  text-align: center;
}

.select-hotel-btn {
  padding: 5px 35px;
  margin: 110 auto;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  background: none;
}

.result-wrapper {
  outline: 3px solid black;

}

.result-title {
  outline: 3px solid green;
  background: white;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 26px;
}

.result-title-number {
  width: 165px;
  background: yellow;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  float: left;

}

.result-title-sort-parametr {
  width: 115px;
  background: cyan;
  padding-top: 4px;
  float: left;
}

.sort-items {
  width: 300px;
  background: gold;
  outline: 2px solid red;
  padding-top: 4px;
  float: left;
}

.sort-items ul {
  margin: 0;
  padding:0;
  font-size: 0;
  list-style: none;
 }

.sort-items a {
  text-decoration: none;
}

.sort-items li {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  margin-right: 30px;
}

.sort-items li:last-child {
  margin-right: 0;
}

.result-order {
  width: 35px;
  height: 40px;
  float: right;
  padding-top: 4px;
  position: relative;
}

.result-order-up {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom: 5px solid #ccc;
  position: absolute;
  top: -0px;
  left: 0;
}

.result-order-down {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top: 5px solid #81b3d2;
  position: absolute;
  top: 5px;
  right: 0;
}

.result-item-wrapper {
  height: 150px;
  background: pink;
  border: 1px solid #e5e5e5;
  height: 90px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.result-item-photo  {
  width: 135px;
  height: 90px;
  outline: 2px solid red;
  float: left;
}

.result-item-description-wrapper {
  width: 260px;
  height: 90px;
  outline: 2px solid red;
  margin-left: 30px;
  float: left;
}

.result-item-rating-wrapper {
  width: 110px;
  height: 90px;
  outline: 2px solid red;
  float: right;
  text-align: right;
  font-family: "PT Sans", Arial, sans-serif;
}

.result-item-description-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

}

.result-item-description-row {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 0;
  font-weight: 400;
  color: #333333;
  margin-top: 10px;
}

.result-item-description-type {
  display: inline-block;
  width: 110px;
  outline: 2px solid blue;
  font-size: 14px;
  line-height: 21px;
  margin-right: 5px;

}

.result-item-description-price {
  display: inline-block;
  width: 145px;
  outline: 2px solid blue;
  font-size: 14px;
  line-height: 21px;
}

.result-item-button-row {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 0;
  font-weight: 700;
  text-align: center;
  margin-top: 5px;
}

.result-details {
  display: inline-block;
  width: 110px;
  height: 27px;
  outline: 2px solid blue;

  font-size: 14px;
  line-height: 27px;
  margin-right: 5px;
  background-color: #81b3d2;
  color: white;
  text-decoration: none;
  margin-right: 5px;
}

.result-booking {
  display: inline-block;
  width: 145px;
  height: 27px;
  outline: 2px solid blue;

  font-size: 14px;
  line-height: 27px;
  background-color: #766357;
  color: white;
  text-decoration: none;
}

.rating-star {
  color: #81b3d2;
  background-color: yellow;
  font-size: 21px;
  line-height: 27px;
  font-weight: 700;
}

.rating-value {
  width: 110px;
  background-color: #f2f2f2;
  color: #666;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  padding-bottom: 3px;
  padding-top: 3px;
  margin-top: 35px;
}









/*======================================
 Системное оформление - не изменять
=======================================*/
/*
body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  content: "";
  position: absolute;

  height: 24px;
  padding: 2px 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: "Courier New", monotype;
  white-space: nowrap;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}

.main-header::before {
  content: ".main-header";
}

.container::before {
  content: ".container";
}

.main-header .container::before {
  top: auto;
  bottom: -28px;
}

.main-navigation::before {
  content: ".main-navigation";
}

.user-block::before {
  content: ".user-block";
}

.index-logo::before {
  content: ".index-logo";
}



*/













